{% extends 'base.html.twig' %}

{% block body %}
    <h1>My Beers List</h1>

    <div class="row">
        <div class="card-columns col-12">
            {% for beer in beers %}
                <div class="card">
                    <img src="{{ beer.imageUrl }}" class="card-img-top" alt="...">
                    {% if app.user %}
                        <div class="card-img-overlay">
                            {% if beer in app.user.favoriteBeers %}
                            <i class="material-icons md-48 pink beer-favorite" id="{{ beer.id }}">favorite</i>
                            {% else %}
                            <i class="material-icons md-48 pink beer-favorite" id="{{ beer.id }}">favorite_border</i>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ beer.name }}</h5>
                        <code class="card-title">{{ beer.slug }}</code>
                        <p class="card-text">{{ beer.tagline }}</p>
                        <p class="card-text">PH : {{ beer.ph }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('like') }}
{% endblock %}