<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('index') }}">MyBeers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('beer_list') }}">List Beers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('beer_list-beer') }}">List Select</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('beer_favorites') }}">Favorites</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('beer_import') }}">Import Beer</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <p class="nav-link">Welcome {{ app.user.name }}</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">logout</a>
                </li>
            {% else %}
                    <a class="nav-link" href="{{ path('app_login') }}">login</a>
                <li class="nav-item">
                </li>
            {% endif %}
        </ul>
    </div>
</nav>